<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="layout/layout :: head-basic"></th:block>
<th:block th:replace="layout/layout :: bootstrap-css"></th:block>
<th:block th:replace="layout/layout :: general-css"></th:block>
</head>
<body>
<nav th:replace="layout/layout :: menu"></nav>
<div th:replace="layout/layout :: screen-title"></div>
<div th:replace="layout/layout :: messages-zone"></div>

<div th:replace="layout/layout :: confirm"></div>

<div class="container py-1">

	<div class="row mt-3 general-options">
		<div class="col-2">
			<a class="btn standard-button" th:href="@{/instrumentomusical/form}" th:text="${applicationData.getScreenName(optionCode,'CREATE')}"></a>
		</div>
		<div class="col-10">
		
		<th:block th:if="${numinstrumentoMusical>0}">
		  <nav th:if="${numinstrumentoMusical>0}" th:replace="layout/layout :: paginator"></nav>
		</th:block> 
		</div>
	</div>

<h5 class="text-center my-5 mx-5" th:if="${numinstrumentoMusical==0}" th:text="${applicationData.getEmptyMessage(optionCode)}"></h5>

<table th:if="${numinstrumentoMusical>0}" class="table table-striped">
<thead>
	<tr>
		<th scope="col">nombre</th>
<th scope="col">tipo</th>
<th scope="col">fechaCompra</th>
<th scope="col">precio</th>
<th scope="col">foto</th>

		<th scope="col">Options</th>
	</tr>
</thead>
<tbody>
<tr th:each="entity: ${listinstrumentoMusical}">
		
<td th:if="${entity.nombre !=null}"
					th:text="${entity.nombre}">
				<td th:if="${entity.nombre ==null}" th:text="---"></td>


<td th:if="${entity.tipo !=null}"
					th:text="${entity.tipo}">
				<td th:if="${entity.tipo ==null}" th:text="---"></td>


<td th:if="${entity.fechaCompra !=null}"
					th:text="${entity.fechaCompra}">
				<td th:if="${entity.fechaCompra ==null}" th:text="---"></td>


<td th:if="${entity.precio !=null}"
					th:text="${entity.precio}">
				<td th:if="${entity.precio ==null}" th:text="---"></td>


<td>
	<a th:if="${entity.foto != null}" th:href="@{'/instrumentomusical/viewimg/'+${entity.id}+'/foto'}" title="View foto">
	<img th:if="${entity.foto != null}" 
			th:src="@{'/upload/' + ${entity.foto}}" width="30px" 
			class="border border-white shadow">
	</a>
	<img th:if="${entity.foto == null}" th:src="@{'/images/app_no_image_logo.png'}" width="30px"></img>
</td>


	<td>
	    <a th:href="@{'/instrumentomusical/view/'+${entity.id}}" title="View"><svg th:replace="layout/icons_svg :: svg-view"></svg></a>
		<a th:href="@{'/instrumentomusical/form/'+${entity.id}}" title="Update"><svg th:replace="layout/icons_svg :: svg-update"></svg></a>
		<a sec:authorize="hasRole('ROLE_ADMIN')" href="#" title="Delete" th:attr="onclick=|showConfirmation('/instrumentomusical/delete/'+'${entity.id}','Delete element','<strong>'+'${entity.id}'+'</strong><br>Are you sure you want to delete this element?','Delete')|">
		<svg th:replace="layout/icons_svg :: svg-delete"></svg></a>
		<span sec:authorize="!hasRole('ROLE_ADMIN')"><svg th:replace="layout/icons_svg :: svg-delete"></svg></span>
	</td>
	</tr>
</tbody>
</table>

<th:block th:if="${numinstrumentoMusical>0}">
	<nav th:replace="layout/layout :: paginator"></nav>
</th:block>

</div>

<div th:replace="layout/layout :: authorship"></div>

<div th:insert="layout/layout :: jquery-js"></div>
<div th:insert="layout/layout :: bootstrap-js"></div>

<script
		th:replace="layout/layout :: dialog_confirmation"></script>
	
</body>
</html>